h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

a {
    color: #ffffff;
}

p {
    color: #c5c5c5;
}

blockquote {
    color: #c5c5c5;
    background-color: #333333;
}

body, button, input, select, textarea {
    color: #ffffff;
}

.entry-meta .tag-links a {
    color: #c5c5c5;
}

.entry-meta>span {
    color: #c5c5c5;
}

.entry-meta a {
    color: #c5c5c5;
}

.blog-author .post-by {
    color: #c5c5c5;
}

.bg-default {
    background-color: #00000c;
}

.bg-default-lite {
    background-color: #111111;
}


/* Placeholder text color */

::-webkit-input-placeholder {
    color: #ffffff;
}

:-moz-placeholder {
    color: #ffffff;
}

::-moz-placeholder {
    color: #ffffff;
}

:-ms-input-placeholder {
    color: #ffffff;
}


/* Placeholder comment form text color */

.comment-form::-webkit-input-placeholder {
    color: #ffffff;
}

.comment-form:-moz-placeholder {
    color: #ffffff;
}

.comment-form::-moz-placeholder {
    color: #ffffff;
}

.comment-form:-ms-input-placeholder {
    color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #ffffff;
    background: transparent;
    border: 1px solid #444444;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #ffffff;
    outline: unset;
    background: transparent;
}

.search-panel input[type="search"] {
    color: #ffffff;
    background: #202022;
    border: 1px solid #323232;
}

#searchbar_fullscreen input[type="search"] {
    color: #ffffff;
}

#searchbar_fullscreen.bg-light input[type="search"] {
    color: #64646d;
}

select {
    border: 1px solid #444444;
}

address {
    color: #c5c5c5;
}

caption {
    color: #c5c5c5;
}


/* Placeholder comment form text color */

#searchbar_fullscreen.bg-light ::-webkit-input-placeholder {
    color: #64646d;
}

#searchbar_fullscreen.bg-light :-moz-placeholder {
    color: #64646d;
}

#searchbar_fullscreen.bg-light ::-moz-placeholder {
    color: #64646d;
}

#searchbar_fullscreen.bg-light :-ms-input-placeholder {
    color: #64646d;
}

label {
    color: #ffffff;
}


/*===================================================================================
  Navbar Menu Css
===================================================================================*/

.header-sidebar .bottom-header {
    background: #00000c;
}
.dark .navbar {
    background-color: #1d1d1d;
}

.dropdown-menu {
    background-color: #000000;
}

.navbar-nav .dropdown-item {
    color: #ffffff;
}

.navbar .search-box-outer .dropdown-menu {
    background-color: #00000c !important;
}

.dark .navbar1.navbar {
    background-color: #111111;
}

.navbar2.navbar {
    background-color: #000000;
}

.navbar2.navbar .nav .nav-item:hover .nav-link,
.navbar2.navbar .nav .nav-item:focus .nav-link,
.navbar2.navbar .nav .nav-item.active .nav-link {
    /*color: #5ca2df;*/
}

.navbar2.navbar .dropdown-menu {
    background-color: #1d1d1d;
}

.navbar2.navbar .nav .nav-item .nav-link {
    color: #ffffff;
}

.navbar2 .cart-header {
    border-left: 1px dotted #ffffff;
}

.navbar2 .cart-header>a.cart-icon {
    color: #ffffff;
}

.navbar2 .search-box-outer a {
    color: #ffffff;
}

.navbar2.navbar ul li .search-box-outer a.text-dark,
.navbar2.navbar ul li .search-box-outer a.bg-light {
    color: #ffffff !important;
    background: transparent !important;
}

.layout5.header-logo {
    background-color: #00000c;
}

.layout5 .search-box-outer a,
.layout5 .cart-header>a.cart-icon {
    color: #ffffff;
}

.layout5 .search-box-outer .dropdown-menu {
    background-color: #202022 !important;
}

.layout5 .contact-widget .title {
    color: #ffffff;
}

.bottom-header3 .search-box-outer a {
    color: #ffffff;
}

.bottom-header3 .cart-header>a.cart-icon {
    color: #ffffff;
}

.bottom-header3 .cart-header {
    border-left: 1px dotted #ffffff;
}

@media (min-width: 992px) {
    .navbar6.navbar .nav .nav-item.active .nav-link:after {
        color: #000000;
    }
}

@media (max-width: 991px) {
    .navbar .nav .nav-item .nav-link {
        border-bottom: 1px solid #333333;
    }
    .navbar-collapse {
        border-top: 1px solid #333333;
    }
}


/* ================  PORTFOLIO SECTION  ================================== */

.portfolio .md-pills .nav-link {
    color: #c5c5c5;
}

.portfolio .md-pills .nav-link {
    border: 1px solid #444444;
}

.portfolio .tab-content .card .entry-title a {
    color: #ffffff;
}

.portfolio .tab-content .card figcaption {
    background-color: #00000c;
}

.md-pills .nav-link.active,
.md-pills .nav-link:hover,
.md-pills .nav-link.active,
.md-pills .nav-link:focus {
    color: #ffffff;
}


/* ================  BLOG AND PAGINATION  ===================== */

.blog {
    background-color: #00000C;
}

.blog .post {
    background: #111111;
    -webkit-box-shadow: 3px 3px 15px 0px rgb(0 0 0 / 41%);
    -moz-box-shadow: 3px 3px 15px 0px rgb(0 0 0 / 41%);
}

.blog .post:hover,
.blog .post:focus {
    -webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
}

.blog .btn-small {
    color: #ffffff;
}

.entry-meta span {
    color: #c5c5c5;
    display: inline-block;
}

.related-post .single-post {
    background-color: #111111;
}

.sidebar .head-contact-info li,
.sidebar .widget em {
    color: #ffffff;
}

@media (max-width: 767px) {
    .bottom-line {
        border-bottom: 1px solid #444444;
        margin-bottom: 20px;
    }
}

.pagination a {
    background: #111111;
    border: 1px solid #323232;
    color: #ffffff;
}

.pagination a.next,
.pagination a.previous {
    background: #111111;
    border: 1px solid #444444;
    color: #ffffff;
}

.woocommerce-pagination ul li a.page-numbers {
    background: #111111;
    border: 1px solid #323232;
    color: #ffffff;
}

.page-link:hover {
    color: #ffffff;
    /*border-color: #5ca2df;*/
    background-color: #111111;
}


/* ================  SERVICE SECTION  ================================== */

.services .card-body {
    background-color: #111111;
    box-shadow: 0px 0px 0 rgb(0 0 0 / 70%);
}

.services .card .description {
    color: #c5c5c5;
}

.services h4 a,.services h4{
    color: #ffffff;
}

.services5 .post {
    background-color: #111111;
}

.services4 .post:hover,
.services4 .post:focus {
    -webkit-box-shadow: 5px 6px 10px -4px rgb(0 0 0 / 1);
    -moz-box-shadow: 5px 6px 10px -4px rgb(0 0 0 / 1);
    box-shadow: 5px 6px 10px -4px rgb(0 0 0 / 1);
}

.services .post:hover,
.services .post:focus {
    -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.41);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.41);
}


/* ================  TESTIMONIAL SECTION  ================================== */

.testimonial-1 {
    background-color: #111111;
}

.testimonial-1.testimonial:before {
    background-color: rgb(0 0 0 / 85%);
}

.testimonial-1.testimonial::before {
    background: url(../images/testimonial-pattern-2-dark.png) no-repeat;
    /*opacity: 0.3;*/
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-1 .testimonial-block .entry-content {
    background-color: #00000c;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 40%);
    ;
}


/* ================  TEAM SECTION  ================================== */

.team .team-grid .card-body {
    background: #111111;
}

.team .team-grid:hover .card-body,
.team .team-grid:focus .card-body {
    box-shadow: 3px 3px 15px rgb(0 0 0 / 0%);
}

.team .team-grid .list-inline-item a {
    background: #141414;
}

.team .portfolio-thumbnail ul li a i {
    color: #ffffff;
}


/* TEAM 2 , TEAM 3 , TEAM 4 */

.team2 .list-inline {
    background: #00000c;
}

.team2 .list-inline li a {
    color: #ffffff;
}

.team2 .team-grid .card-body {
    background-color: #111111;
}

.team2 .team-grid .card-body p {
    color: #c5c5c5;
}

.team2 .list-inline li a i {
    color: #ffffff;
}

.team3 .team-grid .card-body p {
    color: #c5c5c5;
}

.team3 .team-grid .card-body .list-inline li>a {
    color: #ffffff;
}

.team4 .team-grid {
    background-color: #111111;
    box-shadow: 0px 0px 0.938rem rgba(0, 0, 0, 0.1);
}

.team4 .team-grid .card-body p {
    color: #c5c5c5;
}

.team4 .team-grid .card-body .list-inline li>a {
    color: #ffffff;
}


/* ================  CONTACT SECTION  ================================== */

.contact-info-section .contact-widget {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 15px rgb(0 0 0 / 41%);
    -moz-box-shadow: 0 0 15px rgb(0 0 0 / 41%);
    box-shadow: 0 0 15px rgb(0 0 0 / 41%);
}

.wpcf7-form input[type="email"],
.wpcf7-form input[type="url"],
.wpcf7-form input[type="password"],
.wpcf7-form input[type="search"],
.wpcf7-form input[type="number"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="range"],
.wpcf7-form input[type="date"],
.wpcf7-form input[type="month"],
.wpcf7-form input[type="week"],
.wpcf7-form input[type="time"],
.wpcf7-form input[type="datetime"],
.wpcf7-form input[type="datetime-local"],
.wpcf7-form input[type="color"],
.wpcf7-form textarea {
    color: #ffffff;
    background: transparent;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form textarea,
.wpcf7-form select {
    color: #ffffff;
    border-bottom: 1px solid #444444;
}

.contact-info .title {
    color: #ffffff;
}

.contact-info address,
.contact-info a {
    color: #c5c5c5;
}

.contact-form .title {
    color: #ffffff;
}

.contact1 .contact-info.contact-page {
    background-color: #111111;
}

.contact1 .contact-info.contact-page .custom-social-icons li>a {
    color: #ffffff;
}

.contact-info-section .contact-widget {
    background-color: #111111;
}

.contact3.contact-form-map {
    background-color: #111111;
}

.contact3.contact-info-par {
    background-color: #00000c;
}

.contact2 .contact-info.contact-page {
    background-color: #111111;
}

.contact2 .contact-info.contact-page .custom-social-icons li>a {
    color: #ffffff;
}

.contact3 .contact-info.contact-page {
    background-color: #00000c;
}

.contact2.contact-form-map {
    background-color: #00000C;
}

.contact1.contact-info-par {
    background-color: #00000C;
}

.contact4.contact-info-section {
    background-color: #00000c;
}


/* Placeholder contact page text color */

.contact-info::-webkit-input-placeholder {
    color: #ffffff;
}

.contact-info:-moz-placeholder {
    color: #ffffff;
}

.contact-info::-moz-placeholder {
    color: #ffffff;
}

.contact-info:-ms-input-placeholder {
    color: #ffffff;
}


/*Comments,about,owl-carousel,sponsors,shop,error-page*/

.comment-detail {
    border-bottom: 1px solid #444444;
}

.about-section {
    background-color: #00000c;
}

.about-section .image-box .thumbnail:before {
    background-image: url("../images/about-pattern-dark.png");
}

.list-style-four li {
    color: #ffffff;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #ffffff;
}

.owl-theme .owl-dots .owl-dot span {
    background: rgb(255 255 255);
}

.logo-scroll img:hover,
.logo-scroll img:focus {
    filter: brightness(10);
    cursor: pointer;
    padding: 0 30px;
}

.shop .product_meta .posted_in a {
    color: #c5c5c5;
}

.woocommerce-result-count {
    color: #c5c5c5;
}

.woocommerce .woocommerce-ordering select {
    color: #c5c5c5;
    background-color: #111111;
}

.product-showing p {
    border: 1px solid #323232;
}

.error-page {
    background-color: #1d1d1d;
}

.error-page .title {
    color: #c5c5c5;
}

.error-page p {
    color: #ffffff;
}


/* ================ SIDEBAR WIDGET ================================== */

.sidebar .widget {
    border: 1px solid #313131;
}

.sidebar .wp-block-search .wp-block-search__label,
.sidebar .wc-block-product-search .wc-block-product-search__label,
.sidebar .widget.widget_block h1,
.sidebar .widget.widget_block h2,
.sidebar .widget.widget_block h3,
.sidebar .widget.widget_block h4,
.sidebar .widget.widget_block h5,
.sidebar .widget.widget_block h6 {
    color: #ffffff;
}

.sidebar .blog .post {
    background: transparent;
}

.sidebar .widget_recent_comments li .comment-author-link,
.sidebar .widget_recent_comments li a.url {
    color: #ffffff;
}

.sidebar .widget ul li a {
    color: #ffffff;
}

.sidebar .widget,
.site-footer .widget {
    color: #c5c5c5;
}

.widget .post .entry-date {
    color: #c5c5c5;
}

.sidebar .widget .tagcloud a {
    color: #c5c5c5;
    border: 1px solid #444444;
}

.comment-reply-title {
    border-bottom: 1px solid #313131;
}


/* Neww widget css*/

.wp-block-tag-cloud .tag-cloud-link {
    color: #c5c5c5;
    border: 1px solid #444444;
}

.wp-block-calendar table caption,
.wp-block-calendar table tbody {
    color: #ffffff;
}

.sidebar .widget .widget-title::after {
    background: #00000C;
}

.sidebar .widget .widget-title {
    border-bottom: 1px solid #444444;
}

.sidebar .wp-block-search .wp-block-search__label::before,
.sidebar .widget.widget_block h1::before,
.sidebar .widget.widget_block h2::before,
.sidebar .widget.widget_block h3::before,
.sidebar .widget.widget_block h4::before,
.sidebar .widget.widget_block h5::before,
.sidebar .widget.widget_block h6::before {
    /*background: #5ca2df;*/
}

.sidebar .wp-block-search .wp-block-search__label:after,
.sidebar .wc-block-product-search .wc-block-product-search__label:after,
.sidebar .widget.widget_block h1:after,
.sidebar .widget.widget_block h2:after,
.sidebar .widget.widget_block h3:after,
.sidebar .widget.widget_block h4:after,
.sidebar .widget.widget_block h5:after,
.sidebar .widget.widget_block h6:after {
    background: #00000c;
}

.sidebar .wp-block-search .wp-block-search__label,
.sidebar .wc-block-product-search .wc-block-product-search__label,
.sidebar .widget.widget_block h1,
.sidebar .widget.widget_block h2,
.sidebar .widget.widget_block h3,
.sidebar .widget.widget_block h4,
.sidebar .widget.widget_block h5,
.sidebar .widget.widget_block h6 {
    border-bottom: 1px solid #444444;
}

.woocommerce-Price-amount.amount {
    color: #c5c5c5;
}


/* ================ All Header Button Css ============================ */

.navbar2 .software_header_btn:hover,
.navbar2 .software_header_btn:focus {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    background-color: #111111;
}
.woocommerce div.product div.summary {
    background-color: #111;
    border: 1px solid #323232;
}
.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce .posted_in a, .woocommerce-product-rating a, .woocommerce .tagged_as a, .woocommerce div.product form.cart .variations td.label label, .woocommerce #reviews #comments ol.commentlist li .meta strong, .woocommerce table.shop_table th, .woocommerce-cart table.cart td a, .owl-item .item .cart .add_to_cart_button, .woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-error, .woocommerce-info, .woocommerce-message {
    color: #ffffff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #111111;
    border-bottom-color: #323232;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border: 1px solid #323232;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
    box-shadow: 2px 2px 0 #323232;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
    box-shadow: -2px 2px 0 #323232;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 1px solid #323232;
}
.woocommerce div.product .woocommerce-tabs .panel {
    background: #111111;
    border: 1px solid #323232;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border: 1px solid #323232;
}
.woocommerce #review_form #respond textarea, .woocommerce-cart table.cart td.actions .coupon .input-text {
    border: 1px solid #323232;
}
.wc-block-grid__product-rating .star-rating span:before, .wc-block-grid__product-rating .wc-block-grid__product-rating__stars span:before {
    color: #ffffff;
}
.woocommerce div.product p.price ins{
    background-color: #3b3b3b;
}
mark, ins {
    background: #3b3b3b;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    background-color: #111111;
    box-shadow: 0 0.438rem 10px -0.3125rem #323232;
}
.woocommerce .woocommerce-message a.button:hover {
    color: #ffffff;
}
.woocommerce ul.products li.product .price ins, .woocommerce div.product p.price ins, .woocommerce ul.products li.product .price .woocommerce-Price-amount.amount, .woocommerce .variations td.label, .woocommerce .woocommerce-ordering select, .woocommerce-cart table.cart td.actions .coupon .input-text, .select2-container .select2-choice {
    background-color: #111111;
}
.woocommerce ul.products li.product .price del, .woocommerce ul.products li.product .price ins, .woocommerce div.product p.price ins, .woocommerce ul.products li.product .price, .woocommerce .variations td.label, .woocommerce table.shop_table td, .woocommerce-cart .cart-collaterals .cart_totals table td, .woocommerce .woocommerce-ordering select, .woocommerce-cart table.cart td.actions .coupon .input-text, .select2-container .select2-choice {
    color: #ffffff;
}
#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
    border-bottom: 1px solid #323232;
    background-color: #111111;
}
.woocommerce form .form-row.place-order {
    padding: 0;
    margin: 0 0 0.938rem;
    background-color: #111111;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #323232;
    background-color: #111111;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
}
.select2-dropdown {
    background-color: #111111;
    border: 1px solid #323232;
}
.select2-container--default .select2-results__option[data-selected=true] {
    background-color: #000;
}
.widget.widget_block .wc-block-grid__product:before{
    display: none;
    padding-left: 0;
    margin-left:0 ;
}
.widget.widget_block ul.wc-block-grid__products li.wc-block-grid__product{
    padding-left: 0;
}
.blog-author{
    background-color: #111111;
    border-color: #111111;
}
a:focus{
    outline-color: #fff;
}
.entry-content p a,.testimonial-1 .designation{
    color: #c5c5c5;
}
.index6.bottom-header {
    background: #00000c;
}
.eight.stickymenu .navbar4.navbar{
    background-color: #00000c;
 }
 .eight.stickymenu .header-sidebar .bottom-header{
    background-color: #00000c;
 }
 #wrapper {
    background-color: #00000c;
    margin: 0px auto;
}
#loadMore{
    background: rgb(50, 46, 46);
    padding: 10px;
    color: #fff;
    border: 1px solid #101010;
}
.modal-dialog .modal-content .post p {
    color: #acacac;
}
.modal-content {
    background-color: #202022;
}
.modal-dialog .modal-content .post a {
    color: #ffffff;
}
.dark .blog .post.sticky {
    background-color: #3e3d3b;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    background: transparent;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}
.dark .lb-data .lb-caption {
   color: #acacac;
}
.dark .lb-dataContainer {
     background: #202022;
}
.comment-section ul.children, pre {
    background-color: #111111;
    color: #fff;
}