blockquote {
    border-left: 0.1875rem solid #82b440;
}

dl dd a,
dl dd a:hover,
dl dd a:focus,
ul li a:focus,
ul li a:hover {
    color: #82b440;
}

.entry-meta .tag-links a:hover,
.entry-meta .tag-links a:focus {
    background-color: #82b440;
    border: 1px solid #82b440;
}

.entry-content a:hover,
.entry-content a:focus {
    color: #82b440;
}

a:hover,
a:focus {
    color: #82b440;
}

.entry-meta a:hover,
.entry-meta a:focus {
    color: #82b440;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    border-color: #82b440;
}

button,
input[type="button"],
input[type="submit"] {
    background: #82b440;
    border: 1px solid #82b440;
}

button.secondary,
input[type="reset"],
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary {
    color: #82b440;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    color: #82b440;
    border: 1px solid #82b440;
}

button.secondary:hover,
button.secondary:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"].secondary:hover,
input[type="button"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:hover,
input[type="submit"].secondary:focus {
    color: #82b440;
}

.btn-default {
    background: #82b440;
    border: 1px solid #82b440;
}


/*.btn-default:hover,.btn-default:focus, .btn-default:active { border: 1px solid #82b440;color:#82b440; }*/

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    background: #82b440;
    border: 1px solid #82b440;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    background-color: #82b440;
    border-color: #82b440;
}

.btn-default-dark {
    background: #82b440;
    border: 1px solid #82b440;
}

.btn-default-dark:hover,
.btn-default-dark:focus,
.btn-default-dark:active {
    border: 1px solid #82b440;
    color: #82b440;
}

.btn-border {
    border: 0.125rem solid #82b440;
}

.btn-border:hover,
.btn-border:focus,
.btn-border:active {
    border: 2px solid #82b440;
    color: #82b440;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #82b440;
}


/*.top-header li a:hover,.top-header li a:focus{color:#82b440;}*/

.custom-social-icons li>a:focus,
.custom-social-icons li>a:hover {
    background-color: #82b440;
}

.contact .custom-social-icons li>a:hover,
.contact .custom-social-icons li>a:focus {
    background-color: #82b440;
}

#searchbar_fullscreen .btn {
    background-color: #82b440;
}

#searchbar_fullscreen .close {
    background-color: #82b440;
    border-color: #82b440;
}

.navbar .search-box-outer .dropdown-menu {
    border-top: solid 1px #82b440;
}

.search-form input[type="submit"] {
    background: #82b440 none repeat scroll 0 0;
    border: 1px solid #82b440;
}

.owl-carousel .owl-prev:hover,
.owl-carousel .owl-prev:focus,
.owl-carousel .owl-next:hover,
.owl-carousel .owl-next:focus {
    background-color: #82b440;
    border-color: #82b440;
}

.section-separator {
    background: #82b440;
}

.section-header .section-subtitle {
    color: #82b440;
}

.section-header .section-subtitle:after {
    background: #82b440;
}

.services .card-body:before {
    background-color: #82b440;
}

.services .service-icon i.fa {
    color: #82b440;
}

.services .btn-small {
    color: #82b440;
}

.services .card .service-big-icon {
    color: #82b440;
}

.services .post:hover,
.services .post:focus {
    background-color: #82b440;
}

.services .post-thumbnail i.fa {
    background-color: #82b440;
}

.services .post:hover .post-thumbnail i.fa,
.services .post:focus .post-thumbnail i.fa {
    color: #82b440;
}

.services3 .post-thumbnail i.fa {
    background: #82b440;
    box-shadow: #82b440 0px 0px 0px 1px;
}

.services3 .post:hover .post-thumbnail i.fa,
.services3 .post:focus .post-thumbnail i.fa {
    color: #82b440;
}

.services4 .post-thumbnail i.fa {
    color: #82b440;
}

.funfact-inner:before {
    background-color: #82b440;
}

.testimonial-1 .avatar {
    background: #82b440;
}

.testimonial-block .entry-content:before {
    color: #82b440;
}

.testimonial.testimonial-1 .rating {
    color: #82b440;
}

.testimonial-2 .testimonial-block {
    border-left: 0.25rem solid #82b440;
}

.testimonial-2 .testimonial-block:before {
    border-top: 1.563rem solid #82b440;
}

#cta-video {
    color: #82b440;
    border: 0.3rem solid #82b440;
}

.video-btn a:after {
    border-left: 1.563rem solid #82b440;
}

.blog .blog-btn .btn-small:hover,
.blog .blog-btn .btn-small:focus,
.blog .blog-btn .btn-small:hover i,
.blog .blog-btn .btn-small:focus i {
    color: #82b440;
}

.post-content {
    padding: 1.25rem 1.5rem;
}

.entry-date {
    background: #82b440;
}

.entry-meta span:after {
    color: #82b440;
}

.entry-content p a:hover,
.entry-content p a:focus {
    color: #82b440;
}

.blog .btn-small i {
    color: #82b440;
}

.entry-meta i {
    color: #82b440;
}

.blog a:hover i,
.blog a:hover span,
.blog a:focus i,
.blog a:focus span {
    color: #82b440;
}

.sidebar .widget .custom-social-icons li>a {
    color: #82b440;
}

.sidebar .widget .custom-social-icons li>a:hover,
.sidebar .widget .custom-social-icons li>a:focus {
    background-color: #82b440;
}

.sidebar .widget ul li a:hover,
.sidebar .widget ul li a:focus {
    color: #82b440;
}


/* .sidebar .widget .widget-title {
    background-color: #82b440;
} */

.widget .search-submit,
.widget .search-field [type=submit],.sidebar .wp-block-search .wp-block-search__button {
    background: #82b440;
    border: 1px solid #82b440;
}

.sidebar .woocommerce-widget-layered-nav li:before,
.sidebar .widget_recent_reviews li:before,
.sidebar .widget_top_rated_products li:before,
.sidebar .widget_products li:before,
.sidebar .widget_nav_menu li:before,
.sidebar .widget_pages li:before,
.sidebar .widget_product_categories li:before,
.sidebar .widget_links li:before,
.sidebar .widget_categories li:before,
.sidebar .widget_archive li:before,
.sidebar .widget_recent_entries li:before,
.sidebar .widget_meta li:before {
    color: #82b440;
}

.sidebar .widget_recent_comments li:before {
    color: #82b440;
}

.widget .tagcloud a:hover,
.widget .tagcloud a:focus {
    background-color: #82b440;
    border: 1px solid #82b440;
}

.related-post .entry-title a:hover,
.related-post .entry-title a:focus {
    color: #82b440;
}

.related-post .single-post .fa {
    color: #82b440;
}

.comment-form .comment-reply-title {
    color: #82b440;
}

.comment-form .blog-form-group:after {
    color: #82b440;
}

.comment-form .blog-form-group-textarea:after {
    color: #82b440;
}

.footer-sidebar .widget_text.site-info a:hover,
.footer-sidebar .widget_text.site-info a:focus {
    color: #82b440;
}

.pagination a.active {
    background-color: #82b440;
    border-color: #82b440;
}

.pagination a:before {
    background-color: #82b440;
}

.slideouticons label.mainlabel {
    background: #82b440;
}

.slideouticons .icon-wrapper ul li a:hover,
.slideouticons .icon-wrapper ul li a:focus {
    background: #82b440;
}

.slideouticons input:checked~label.mainlabel {
    color: #82b440;
}

.team .team-grid .list-inline-item a {
    color: #82b440;
}

.team .team-grid .list-inline-item a:hover {
    background: #82b440;
}

.team .portfolio-thumbnail ul li a:hover i,
.team .portfolio-thumbnail ul li a:focus i,
.team2 .list-inline li a:hover i,
.team2 .list-inline li a:focus i {
    color: #82b440;
}

.team .name,
.team2 .team-grid .card-body h4,
.team3 .team-grid .card-body h4,
.team4 .team-grid .card-body h4,
.team3 .team-grid .card-body .list-inline li>a:hover,
.team3 .team-grid .card-body .list-inline li>a:focus,
.team4 .team-grid .card-body .list-inline li>a:hover,
.team4 .team-grid .card-body .list-inline li>a:focus {
    color: #82b440;
}

.woocommerce ul.products li.product .onsale,
.products span.onsale,
.woocommerce span.onsale {
    background: #82b440;
}

span.woocommerce-price {
    background: #82b440;
}

.add-to-cart a {
    background: #82b440;
}

.add-to-cart a:hover,
.add-to-cart a:focus {
    background: #82b440;
}

.shop .product_meta .posted_in a:hover,
.shop .product_meta .posted_in a:focus {
    color: #82b440;
}

.product-price .woocommerce-Price-amount {
    color: #82b440;
}

.products .onsale:hover,
.products .onsale:focus {
    background: #82b440;
}

.callout .bg-btn {
    background-color: #82b440;
}

.contact-icon i {
    color: #82b440;
}

.cont-info address>a:hover,
.cont-info address>a:focus {
    color: #82b440;
}

.cont-info address>i {
    color: #82b440;
}

.contant-form .wpcf7-form-control-wrap:after {
    color: #82b440;
}

.contact-page.contact-info .contact-icon i {
    color: #82b440;
}

.contact-info a:hover address,
.contact-info a:focus address {
    color: #82b440;
}

.contact-info-section .contact-icon i.fa {
    color: #82b440;
}

.contact4 .contact-widget:hover,
.contact4 .contact-widget:focus {
    background-color: #82b440;
}

.site-info a:hover,
.site-info a:focus {
    color: #82b440;
}

.footer-social-links {
    background: #82b440;
}
.page-breadcrumb li ,
.page-breadcrumb li a:hover, .page-breadcrumb li a:focus ,
.page-breadcrumb .icon::before, .page-breadcrumb .breadcrumb_last{
  color: #82b440;
}
.page-breadcrumb li {
    color: #82b440;
}

.page-breadcrumb li a:hover,
.page-breadcrumb li a:focus {
    color: #82b440;
}

.page-breadcrumb .icon::before {
    color: #82b440;
}

.list-style-four li:before {
    color: #82b440;
}

.about-subtitle {
    color: #82b440;
}

.about-header .btn-default:hover,
.about-header .btn-default:focus {
    border: 1px solid #82b440;
}

.portfolio .md-pills .nav-link.active,
.portfolio .md-pills .nav-link:hover,
.portfolio .md-pills .nav-link:focus {
    background-color: #82b440;
    border-color: #82b440;
}

.portfolio .tab-content .portfolio-thumbnail i {
    background-color: #82b440;
    border: 1px solid #82b440;
}

.portfolio button:hover,
.portfolio button:focus {
    color: #82b440;
}

.error-page .btn-small {
    color: #82b440;
}

.footer-sidebar .woocommerce .posted_in a:hover,
.footer-sidebar .woocommerce-product-rating a:hover,
.footer-sidebar .woocommerce .tagged_as a:hover,
.footer-sidebar .woocommerce-cart table.cart td a:hover,
.footer-sidebar .woocommerce ul.cart_list li a:hover,
.footer-sidebar .woocommerce ul.product_list_widget li a:hover {
    color: #82b440;
}

.footer-sidebar .widget_text.site-info .custom-social-icons li>a {
    color: #82b440;
}

.footer-sidebar .widget_text.site-info .custom-social-icons li>a:hover,
.footer-sidebar .widget_text.site-info .custom-social-icons li>a:focus {
    background-color: #82b440;
}

.footer-sidebar a:hover,
.footer-sidebar a:focus {
    color: #82b440;
}

.footer-sidebar .woocommerce-widget-layered-nav ul a:before,
.footer-sidebar .widget_recent_reviews ul a:before,
.footer-sidebar .widget_top_rated_products ul a:before,
.footer-sidebar .widget_products ul a:before,
.footer-sidebar .widget_nav_menu ul a:before,
.footer-sidebar .widget_pages ul a:before,
.footer-sidebar .widget_product_categories ul a:before,
.footer-sidebar .widget_links ul a:before,
.footer-sidebar .widget_categories ul a:before,
.footer-sidebar .widget_archive ul a:before,
.footer-sidebar .widget_recent_entries ul a:before,
.footer-sidebar .widget_meta ul a:before {
    color: #82b440;
}

.footer-sidebar .widget_recent_comments ul li:before {
    color: #82b440;
}

.scroll-up a {
    background: #82b440;
    color: #ffffff;
    border: 1px solid #82b440;
}

.subscribe-form .btn-default:hover,
.subscribe-form .btn-default:focus {
    background: #82b440;
    border: 1px solid #82b440;
}

.site-footer .subscribe-form .input-group .form-control {
    border: 1px solid #82b440;
}

.layout4 .header-sidebar .bottom-header .contact-widget .title {
    color: #82b440;
}

.layout4 .navbar-nav:not(.sm-collapsible) .sm-nowrap>li.show>.dropdown-item {
    background-color: #82b440 !important;
}

@media (max-width: 1024px) {
    .layout4 .navbar.navbar-light {
        background-color: #82b440;
    }
}

.navbar {
    background-color: #82b440;
}

.footer-sidebar .widget .widget-title:after {
    background: #82b440;
}

.navbar.navbar3 .nav .nav-item:hover .nav-link,
.navbar.navbar3 .nav .nav-item:focus .nav-link,
.navbar.navbar3 .nav .nav-item.active .nav-link {
    color: #82b440;
}

.navbar.navbar3 ul li a .menu-text:hover:after,
.navbar.navbar3 ul li a .menu-text:focus:after,
.navbar.navbar3 .nav li.active .nav-link .menu-text:after,
.navbar3 .navbar-nav .show .dropdown-menu>.active>.menu-text:after,
.navbar3 .navbar-nav .show .dropdown-menu>.active>.menu-text:focus {
    background: #82b440;
}

.navbar3 .dropdown-item.active,
.navbar3 .dropdown-item:active,
.navbar3 .dropdown-item:hover,
.navbar3 .dropdown-item:focus,
.navbar3 .navbar-nav .dropdown-item:hover,
.navbar3 .navbar-nav .dropdown-item:focus {
    color: #82b440;
}

.navbar3 .navbar-nav:not(.sm-collapsible) .sm-nowrap>li.show>.dropdown-item {
    background-color: #82b440 !important;
}

.navbar3 a.text-dark:focus,
.navbar3 a.text-dark:hover {
    color: #82b440!important;
}

.layout4 .navbar .navbar-collapse,
.layout4 .navbar .options-box {
    background-color: #82b440;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #82b440;
}


/*.error-page .overlay{
  background-color: rgba(92,162,223, 0.7);
}
*/

.btn-color {
    background: transparent;
    color: #82b440;
    border: 1px solid #82b440;
}

.btn-color:hover {
    background-color: #82b440;
    color: #ffffff;
    border: 1px solid #82b440;
}

.btn-color-2 {
    background: #82b440;
    color: #ffffff;
    border: 1px solid #82b440;
}

.btn-color-2:hover,.btn-color-2:focus {
    background-color: transparent;
    color: #82b440;
    border: 1px solid #82b440;
}

.woocommerce-loop-product__title:hover,
.woocommerce-loop-product__title:focus {
    color: #82b440;
}

.woocommerce ul.products li.product .button,
.owl-item .item .cart .add_to_cart_button {
    background: #82b440;
}

.woocommerce div.product form.cart .button,
.woocommerce a.button,
.woocommerce a.button:hover,
.woocommerce a.button,
.woocommerce .woocommerce-Button,
.woocommerce .cart input.button,
.woocommerce input.button.alt,
.woocommerce button.button,
.woocommerce #respond input#submit,
.woocommerce .cart input.button:hover,
.woocommerce .cart input.button:focus,
.woocommerce input.button.alt:hover,
.woocommerce input.button.alt:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    background: #82b440;
}

.woocommerce ul.product_list_widget li a:hover,
.woocommerce ul.product_list_widget li a:focus,
.woocommerce .posted_in a:hover,
.woocommerce .posted_in a:focus {
    color: #82b440;
}

.woocommerce-cart.woocommerce-page thead th {
    border-bottom: 2px solid #82b440;
}

.woocommerce #respond input#submit.disabled:hover,
.woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover,
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover,
.woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover {
    background-color: #82b440;
    opacity: 0.7;
}

.woocommerce-info {
    border-top-color: #82b440;
}

.woocommerce-info::before {
    color: #82b440;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #82b440;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

/*.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #ffffff;
    color: #82b440 !important;
    border-color: #82b440 !important;
}*/

.woocommerce-order-received .page .post {
    box-shadow: 0px 0px 0px 2px #82b440;
}

.woocommerce-order-received ul.order_details li {
    border-right: 1px dashed #82b440;
}

/*.woocommerce-account.admin-bar .page .post {
    box-shadow: 0px 0px 0px 2px #82b440;
}*/

.panel-outer .search-form input[type="submit"]:hover,
.panel-outer .search-form input[type="submit"]:focus {
    color: #ffffff;
}

.woocommerce .product_cat-singles .cart .single_add_to_cart_button:hover {
    color: #ffffff !important;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #82b440;
    color: #ffffff;
}

.sidebar .wp-block-tag-cloud .tag-cloud-link:hover,
.sidebar .wp-block-tag-cloud .tag-cloud-link:focus {
    background-color: #82b440;
    border: 1px solid #82b440;
}

.navbar6.navbar .nav .nav-item:hover .nav-link,
.navbar6.navbar .nav .nav-item:focus .nav-link,
.navbar6.navbar .nav .nav-item.active .nav-link {
    color: #ffffff;
    background-color: #82b440;
}

.services5 .post-thumbnail i.fa {
    background: #82b440;
}

.services5 .post:hover .post-thumbnail i.fa {
    color: #82b440;
}

.services5 .post:hover {
    background: #82b440;
}
 .navbar1.navbar .nav .nav-item:hover .nav-link,
 .navbar1.navbar .nav .nav-item:focus .nav-link,
 .navbar1.navbar .nav .nav-item.active .nav-link {
    color: #000000;
}
.navbar1.custom .nav .nav-item.active .nav-link{color: #000000 !important;}

.navbar5.navbar .nav .nav-item:hover .nav-link,
 .navbar5.navbar .nav .nav-item:focus .nav-link,
 .navbar5.navbar .nav .nav-item.active .nav-link {
    color: #000000;
}
.navbar5 .nav .nav-item.active .nav-link{color: #000000 !important;}
.dark .navbar.navbar5 .nav .nav-item.active .nav-link{color: #82b440 !important;}
.dark .navbar1.custom .nav .nav-item.active .nav-link{color: #82b440 !important;}

.dark .navbar1.navbar .nav .nav-item:hover .nav-link,
.dark .navbar1.navbar .nav .nav-item:focus .nav-link,
.dark .navbar1.navbar .nav .nav-item.active .nav-link {
    color: #82b440;
}

.dark .navbar1.navbar ul li a .menu-text:hover:after,
.dark .navbar1.navbar ul li a .menu-text:focus:after,
.dark .navbar1.navbar .nav li.active .nav-link .menu-text:after {
    background-color: #82b440;
}

.dark .navbar.navbar1 .cart-header>a .cart-total {
    background: #82b440;
}
/*.dark .navbar .cart-header>a.cart-total {
    background: #82b440;
}*/
.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item.active,
.navbar-nav .dropdown-item:active,
.navbar-nav .dropdown-item:focus {
    background-color: transparent;
    color: #82b440;
}

.navbar ul li a.text-dark:focus,
.navbar ul li a.text-dark:hover {
    color: #82b440 !important;
}

.navbar ul li a.text-dark,
.navbar ul li a.bg-light {
    color: #ffffff !important;
    background-color: #82b440 !important;
}

.navbar2.navbar .nav .nav-item:hover .nav-link,
.navbar2.navbar .nav .nav-item:focus .nav-link,
.navbar2.navbar .nav .nav-item.active .nav-link {
    color: #82b440;
}

.navbar2.navbar ul li a .menu-text:hover:after,
.navbar2.navbar ul li a .menu-text:focus:after,
.navbar2.navbar .nav li.active .nav-link .menu-text:after,
.navbar2.navbar ul li a.dropdown-item .menu-text:hover:after,
.navbar2.navbar ul li a.dropdown-item .menu-text:focus:after,
.navbar2 .navbar-nav .show .dropdown-menu>.active>.menu-text:after,
.navbar2 .navbar-nav .show .dropdown-menu>.active>.menu-text:focus {
    background: #82b440;
}

.dark .navbar.navbar5 .nav .nav-item:hover .nav-link,
.dark .navbar.navbar5 .nav .nav-item:focus .nav-link,
.dark .navbar.navbar5 .nav .nav-item.active .nav-link {
    color: #82b440;
}

.dark .navbar.navbar5 ul li a .menu-text:hover:after,
.dark .navbar.navbar5 ul li a .menu-text:focus:after,
.dark .navbar.navbar5 .nav li.active .nav-link .menu-text:after,
.dark .navbar.navbar5 .navbar-nav .show .dropdown-menu>.active>.menu-text:after,
.dark .navbar.navbar5 .navbar-nav .show .dropdown-menu>.active>.menu-text:focus {
    width: 100%;
    background: #82b440;
    left: 0;
}


/* ================ All Header Button Css ============================ */

.dark .navbar1 .main-header-btn {
    color: #ffffff;
    background-color: #82b440;
    border-color: #82b440;
}

.dark .navbar1 .main-header-btn:hover,
.dark .navbar1 .main-header-btn:focus,
.dark .navbar2 .main-header-btn:hover,
.dark .navbar2 .main-header-btn:focus {
    color: #82b440;
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar2 .main-header-btn {
    color: #ffffff;
    background-color: #82b440;
    border-color: #82b440;
}

.navbar3 .main-header-btn {
    color: #ffffff;
    background-color: #82b440;
    border-color: #82b440;
}

.navbar3 .main-header-btn:hover,
.navbar3 .main-header-btn:focus {
    color: #82b440;
    background-color: #ffffff;
    border-color: #ffffff;
}

.dark .navbar5 .main-header-btn {
    color: #ffffff;
    background-color: #82b440;
    border-color: #82b440;
}

.dark .navbar5 .main-header-btn:hover,
.dark .navbar5 .main-header-btn:focus {
    color: #82b440;
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar6 .main-header-btn {
    color: #ffffff;
    background-color: #82b440;
    border-color: #82b440;
}

.dark .navbar6 .main-header-btn:hover,
.dark .navbar6 .main-header-btn:focus {
    color: #82b440;
    background-color: #ffffff;
    border-color: #ffffff;
}
.woocommerce-info{
    border-top-color: #82b440;
}
.woocommerce-info::before {
   color: #82b440;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
  color: #82b440;
}

.woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span:hover {
    background-color: #82b440;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce ul.products li.product .button, 
.woocommerce div.product form.cart .button,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce a.button.alt,.woocommerce .coupon .button:hover,.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,.woocommerce button.button.alt,.woocommerce #review_form #respond .form-submit input,
.woocommerce .woocommerce-message .button,.woocommerce a.button, .woocommerce a.button:hover {
   background-color: #82b440;
}

.woocommerce ul.products li.product .price ins, 
.woocommerce div.product p.price ins, 
.woocommerce ul.products li.product .price .woocommerce-Price-amount.amount, 
.woocommerce .variations td.label, 
.woocommerce .woocommerce-ordering select, 
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.select2-container .select2-choice{
  color:#82b440 ;
}
.woocommerce nav.woocommerce-pagination ul li a:before {
   background-color: #82b440;
}

/*.navbar .nav .nav-item:hover .nav-link, .navbar .nav .nav-item.active .nav-link, .dropdown-menu > li.active > a, .navbar .nav .nav-item.current_page_parent .nav-link {
    color: #82b440;
}*/
#testimonial-carousel2 .name:hover,
#testimonial-carousel3 .name:hover,
#testimonial-carousel4 .name:hover{
  color: #82b440;
}
.navbar.navbar6 .cart-header>a.cart-total {
    background: #82b440;
}
.navbar1 .navbar-nav .dropdown-item .menu-text:hover:after {
    background: #82b440;
}
.sidebar .widget .widget-title::before {
    background: #82b440;
}
.page-numbers.current {
    background: #82b440;
    border: 1px solid #82b440;    
}
.pagination a.next:hover,
.pagination a.previous:hover,
.pagination a:hover,
.pagination a:focus {
    border-color: #82b440;
    background-color: #82b440;
}
.woocommerce-pagination ul li a.page-numbers:hover,
.woocommerce-pagination ul li a.page-numbers:focus {
    border-color: #82b440;
    background-color: #82b440;
}
.footer-sidebar .wp-block-tag-cloud .tag-cloud-link:hover,
.footer-sidebar .wp-block-tag-cloud .tag-cloud-link:focus {
    background: #82b440;
    border: 1px solid #82b440;
}
footer {
    border-bottom: 4px solid #82b440;
}
.wp-block-tag-cloud .tag-cloud-link:hover,
.wp-block-tag-cloud .tag-cloud-link:focus {
    background: #82b440;
    border: 1px solid #82b440;
}
.wp-block-search__button:hover .search-icon,
.wp-block-search__button:focus .search-icon {
    fill: #82b440;
}
.counter-content {
    background: #82b440;    
}
.counter-content:before {
    border-color: transparent transparent transparent #82b440;    
}
.page-link:hover {
    border-color: #82b440;
    background-color: #e2e2e2;
}
.widget_block ul li::before,.widget_block ol li::before{
    color: #82b440;
}
.sidebar .wp-block-search .wp-block-search__label::before,
.sidebar .wc-block-product-search .wc-block-product-search__label::before,
.sidebar .widget.widget_block h1::before,
.sidebar .widget.widget_block h2::before,
.sidebar .widget.widget_block h3::before,
.sidebar .widget.widget_block h4::before,
.sidebar .widget.widget_block h5::before,
.sidebar .widget.widget_block h6::before {
    background: #82b440;    
}
.footer-sidebar .wp-block-search .wp-block-search__label::after,
.footer-sidebar .widget.widget_block h1::after,
.footer-sidebar .widget.widget_block h2::after,
.footer-sidebar .widget.widget_block h3::after,
.footer-sidebar .widget.widget_block h4::after,
.footer-sidebar .widget.widget_block h5::after,
.footer-sidebar .widget.widget_block h6::after {
    background: #82b440;
}
#loadMore:hover
{
  color: #82b440;
}
.section-space.error-page img{
    background:#82b440;
}
.spice-slider .widget-slide .wp-block-calendar table th {
    background: #82b440;
}
.widget-slide .widget.widget_calendar, .widget-slide .widget .widget_calendar caption, .widget-slide .widget.widget_calendar a {
    color: #82b440;
}
.wphester-preloader-cube .wphester-cube:before{background: #82b440;}
#preloader2 .square {background: #82b440;}
.loader-5 span:nth-child(2),.loader-5 span:nth-child(3)
{
    background: #82b440;
}
.cart-header>a.cart-total{
    background-color: #82b440;
}
.site-info .footer-sidebar a:hover, .site-info .footer-sidebar a:focus{
    color: #82b440;
}
.navbar .nav .nav-item:hover .nav-link, .navbar .nav .nav-item.active .nav-link, body .navbar .nav .dropdown-menu > li.active > a, .navbar .nav .nav-item.current_page_parent .nav-link {
    color: #82b440;
}
.navbar .nav .nav-item .dropdown-item .navbar-nav .sm-nowrap > li.show > .dropdown-item, .navbar-nav .sm-nowrap > li.current_page_parent > .dropdown-item, .navbar .nav.navbar-nav .sm-nowrap > li.current_page_parent > .dropdown-item, .navbar-nav .current_page_ancestor .nav-link, .navbar-nav .sm-nowrap > li.show > .dropdown-item.text-dark:hover, .navbar-nav .sm-nowrap > li.show > .dropdown-item.text-dark {
    color: #82b440 !important;
}
.navbar .nav .nav-item:hover .nav-link, .navbar .nav .nav-item.active .nav-link, body .navbar .nav .dropdown-menu > li.active > a, .navbar .nav .nav-item.current_page_parent .nav-link {
    color: #82b440;
}
.navbar-nav:not(.sm-collapsible) .sm-nowrap > li.show > .dropdown-item {
    background-color: transparent!important;
}
.page-breadcrumb span a:hover {
    color: #82b440;
}
nav.rank-math-breadcrumb span, .page-breadcrumb.text-center span.post-page.current-item , .page-breadcrumb.text-center span.post-page.current-item, .page-breadcrumb.text-center span.post-post.current-item , .navxt-breadcrumb .current-item { 
 color: #82b440;
}
.page-breadcrumb span a:hover, nav.rank-math-breadcrumb a:hover {
   color: #82b440;
}